@charset "utf-8";

// Form variables
$form-wrapper-width: 430px;
$form-button: #FABA00;
$header-bg: rgb(0, 115, 166);


/*==================================================
Login Form
==================================================*/
body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	.navigation {
		background-color: $header-bg;
		border-radius: 0;
		.container {
			.navbar-header {
				a.navbar-brand {
					color: #FFF;
				}
			}
			.collapse {
				.navbar-right {
					li > a {
						color: #FFF;
					}
				}
			}
		}
	}
	.form-wrapper {
		width: $form-wrapper-width;
		border: thin solid lighten($header-bg, 10);
		margin-top: 10px;
		.form-wrapper-header {
			background: $header-bg;
			padding: 1px;
			h4 {
				color: #FFF;
				margin-left: 10px;
				font-size: 1.2rem;
				font-weight: 500;
			}
		}
		.form-wrapper-body {
			padding: 10px;
			form {
				.form-input-wrapper {
					label {
						width: $form-wrapper-width / 5;
						text-align: right;
						font-weight: 200;
						font-size: 1.3rem;
					}
					input {
						width: 300px;
						margin-top: 2px;
						padding: 2px;
						border-radius: 0;
						border: thin solid #EEE;
						&:focus {
							border: thin solid #eee;
						}
					}
				}
				.form-button-wrapper {
					width: 96%;
					text-align: right;
					margin-top: 5px;
					input[type=submit] {
						background-color: $form-button;
						width: 100px;
						padding: 5px;
						color: darken($form-button, 20);
						border: thin solid darken($form-button, 5);
						font-size: 1rem;
						border-radius: 3px;
						&:hover {
							background-color: lighten($form-button, 5);
						}
					}
				}
			}
		}
		.form-wrapper-footer {
			border-top: thin solid lighten($header-bg, 10);
			padding-top: 8px;
			margin-bottom: 0;
			p {
				font-size: 1.3rem;
				margin-left: 10px;
				vertical-align: center;
				a {
					color: darken($form-button, 20);
					font-weight: 200;
				}
			}
		}
	}
	.register-info {
		border: thin solid lighten($header-bg, 10);
		width: $form-wrapper-width;
		margin-top: 10px;
		padding: 20px 10px;
		h4 {
			font-size: 1.4rem;
			margin: 0;
			padding: 0;
			color: #d3d3d3;
		}
		p {
			font-size: 1.3rem;
			a {
				color: darken($form-button, 20);
			}
		}
	}
	.middle-wrapper {
		// background-color: $header-bg;
		// color: #FFF;
		margin-top: 20px;
		width: 100%;
		// border: 2px solid darken($header-bg, 10);
		.icon-wrapper {
			text-align: center;
			background-color: #FFF;
			padding: 10px 0 40px;
			box-shadow: 0 0 2px 1px #EEE;
			border: thin solid $header-bg;
			h1 {
				// border: thin solid #FFF;
				padding: 40px;
				border-radius: 99999em;
				font-size: 4em;
			}
			h3 {
				font-size: 1.2em;
				margin: 0;
			}
		}
	}
}


/* =====================================
Form Wizard
===================================== */
$form-reg-width: 800px;

.information {
	border: 1px solid darken($header-bg, 10);
	// width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: $header-bg;
	p, li {
		color: #FFF;
		font-size: 1.3rem;
	}
}

.form-reg-wrapper {
	// width: $form-reg-width;
	margin: 20px auto 40px;
	// border: thin solid $header-bg;
	.form-reg-header {
		background-color: #FFF;
		border-bottom: thin solid $header-bg;
		padding: 1px;
		p {
			// color: #FFF;
			margin-left: 10px;
			font-size: 1.2rem;
			font-weight: 500;
		}
		.stepwizard-step p {
			margin-top: 10px;
			width: 250px;
			font-weight: 800;
		}
		.stepwizard-row {
			display: table-row;
		}
		.stepwizard {
			display: table;
			width: 50%;
			position: relative;
			margin-top: 20px;
			margin-left: 10px;
		}
		.stepwizard-step button[disabled] {
			opacity: 1 !important;
			filter: alpha(opacity=100) !important;
		}
		.stepwizard-row:before {
			top: 15px;
			bottom: 0;
			position: absolute;
			content: " ";
			width: 100%;
			height: 2px;
			background-color: lighten($form-button, 30);
			z-order: 0;
		}
		.stepwizard-step {
			display: table-cell;
			text-align: center;
			position: relative;
			margin-right: 5px;
		}
		.btn-circle {
			width: 30px;
			height: 30px;
			text-align: center;
			padding: 6px 0;
			font-size: 12px;
			line-height: 1.428571429;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			background-color: darken($form-button, 10);
			border-color: darken($form-button, 30);
			color: #FFF;
		}
	}
	.form-reg-body {
		form {
			.form-input-wrapper {
				// border: 1px solid #000;
				label {
					// width: $form-reg-width / 1;
					margin-top: 5px;
					text-align: left;
					font-weight: 200;
					font-size: 1.3rem;
				}
				input, textarea {
					width: 550px;
					margin-top: 2px;
					padding: 2px;
					border-radius: 0;
					border: thin solid #EEE;
					&:focus {
						border: thin solid #eee;
					}
				}
			}
			.form-radio-wrapper {
				margin-top: 10px;
			}
			.form-button-wrapper {
				margin-right: 10px;
				text-align: right;
				margin-top: 5px;
				margin-bottom: 20px;
				input[type=submit], button {
					background-color: $form-button;
					border: none;
					width: 100px;
					padding: 5px;
					color: darken($form-button, 20);
					border: thin solid darken($form-button, 5);
					font-size: 1rem;
					border-radius: 3px;
					&:hover {
						background-color: lighten($form-button, 5);
					}
				}
			}
		}
		.setup-content {
			h3 {
				background-color: $header-bg;
				padding: 20px;
				width: 798px;
				color: #FFF;
				margin-left: 15px;
				margin-top: 0;
				font-size: 1.9rem;
				font-weight: 400;

			}
		}
	}
}

/* ======================================
Smart Wizard
====================================== */
#wizard {
	.stepContainer {
		.content {
			.StepTitle {
				background-color: $header-bg;
				padding: 20px;
				color: #FFF;
				margin-top: 0;
				font-weight: 400;
				margin-bottom: 20px;
			}
		}
	}
}

.btn-custom {
	background-color: $form-button;
	width: 100px;
	padding: 5px;
	color: darken($form-button, 20);
	border: thin solid darken($form-button, 5);
	font-size: 1rem;
	border-radius: 3px;
	&:hover {
		background-color: lighten($form-button, 5);
	}
}

.tac {
	color: darken($form-button, 20);
	font-weight: 200;
	border-bottom: thin dotted $form-button;
	&:hover {
		color: darken($form-button, 30);
		border-color: darken($form-button, 30);;
	}
}

/* ============================================
Plugin Over-ride Styles
============================================ */
.swMain > ul li > a.selected .stepNumber,
.swMain > ul li > a.selected:before, .swMain li > a.done:before {
	border-color: $header-bg;
	border-radius: 0;
}

.wizard-wrapper {
	border: thin solid $header-bg;
}

