@charset "utf-8";

// Form variables
$form-wrapper-width: 430px;
$form-button: #FABA00;
$header-bg: rgb(0, 115, 166);

/*==================================================
Login Form
==================================================*/
body {
	//font-family: Verdana, Geneva, sans-serif;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-weight: normal;
	.navigation {

		background-color: $header-bg;
		//background-color: darken($header-bg, 50);
		border-radius: 0;
		.container {
			.navbar-header {
				a.navbar-brand {
					color: #FFF;
				}
			}
			.collapse {
				.navbar-right {
					li > a {
						color: #FFF;
					}
				}
			}
		}
	}
	.form-wrapper {
		width: $form-wrapper-width;
		border: thin solid lighten($header-bg, 10);
		margin-top: 10px;
		.form-wrapper-header {
			background: $header-bg;
			padding: 1px;
			h4 {
				color: #FFF;
				margin-left: 10px;
				font-size: 1.2rem;
				font-weight: 500;
			}
		}
		.form-wrapper-body {
			padding: 10px;
			form {
				.form-input-wrapper {
					label {
						width: $form-wrapper-width / 5;
						text-align: right;
						font-weight: 200;
						font-size: 1.3rem;
					}
					input {
						width: 300px;
						margin-top: 2px;
						padding: 2px;
						border-radius: 0;
						border: thin solid #EEE;
						&:focus {
							border: thin solid #eee;
						}
					}
				}
				.form-button-wrapper {
					width: 96%;
					text-align: right;
					margin-top: 5px;
					input[type=submit] {
						background-color: $form-button;
						width: 100px;
						padding: 5px;
						color: darken($form-button, 20);
						border: thin solid darken($form-button, 5);
						font-size: 1rem;
						border-radius: 3px;
						&:hover {
							background-color: lighten($form-button, 5);
						}
					}
				}
			}
		}
		.form-wrapper-footer {
			border-top: thin solid lighten($header-bg, 10);
			padding-top: 8px;
			margin-bottom: 0;
			p {
				font-size: 1.3rem;
				margin-left: 10px;
				vertical-align: center;
				a {
					color: darken($form-button, 20);
					font-weight: 200;
				}
			}
		}
	}
	.register-info {
		border: thin solid lighten($header-bg, 10);
		width: $form-wrapper-width;
		margin-top: 10px;
		padding: 20px 10px;
		h4 {
			font-size: 1.4rem;
			margin: 0;
			padding: 0;
			color: #d3d3d3;
		}
		p {
			font-size: 1.3rem;
			a {
				color: darken($form-button, 20);
			}
		}
	}
	.middle-wrapper {
		// background-color: $header-bg;
		// color: #FFF;
		margin-top: 20px;
		width: 100%;
		// border: 2px solid darken($header-bg, 10);
		.icon-wrapper {
			text-align: center;
			background-color: #FFF;
			padding: 10px 0 40px;
			box-shadow: 0 0 2px 1px #EEE;
			border: thin solid $header-bg;
			h1 {
				// border: thin solid #FFF;
				padding: 40px;
				border-radius: 99999em;
				font-size: 4em;
			}
			h3 {
				font-size: 1.2em;
				margin: 0;
			}
		}
	}
}


/* =====================================
Form Wizard
===================================== */
$form-reg-width: 800px;

.information {
	border: 1px solid darken($header-bg, 10);
	// width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: $header-bg;
	p, li {
		color: #FFF;
		font-size: 1.2rem;
	}
}

.form-reg-wrapper {
	// width: $form-reg-width;
	margin: 20px auto 40px;
	// border: thin solid $header-bg;
	.form-reg-header {
		background-color: #FFF;
		border-bottom: thin solid $header-bg;
		padding: 1px;
		p {
			// color: #FFF;
			margin-left: 10px;
			font-size: 1.2rem;
			font-weight: 500;
		}
		.stepwizard-step p {
			margin-top: 10px;
			width: 250px;
			font-weight: 800;
		}
		.stepwizard-row {
			display: table-row;
		}
		.stepwizard {
			display: table;
			width: 50%;
			position: relative;
			margin-top: 20px;
			margin-left: 10px;
		}
		.stepwizard-step button[disabled] {
			opacity: 1 !important;
			filter: alpha(opacity=100) !important;
		}
		.stepwizard-row:before {
			top: 15px;
			bottom: 0;
			position: absolute;
			content: " ";
			width: 100%;
			height: 2px;
			background-color: lighten($form-button, 30);
			z-order: 0;
		}
		.stepwizard-step {
			display: table-cell;
			text-align: center;
			position: relative;
			margin-right: 5px;
		}
		.btn-circle {
			width: 30px;
			height: 30px;
			text-align: center;
			padding: 6px 0;
			font-size: 12px;
			line-height: 1.428571429;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			background-color: darken($form-button, 10);
			border-color: darken($form-button, 30);
			color: #FFF;
		}
	}
	.form-reg-body {
		form {
			.form-input-wrapper {
				// border: 1px solid #000;
				label {
					// width: $form-reg-width / 1;
					margin-top: 5px;
					text-align: left;
					font-weight: 200;
					font-size: 1.3rem;
				}
				input, textarea {
					width: 550px;
					margin-top: 2px;
					padding: 2px;
					border-radius: 0;
					border: thin solid #EEE;
					&:focus {
						border: thin solid #eee;
					}
				}
			}
			.form-radio-wrapper {
				margin-top: 10px;
			}
			.form-button-wrapper {
				margin-right: 10px;
				text-align: right;
				margin-top: 5px;
				margin-bottom: 20px;
				input[type=submit], button {
					background-color: $form-button;
					border: 0;
					width: 100px;
					padding: 5px;
					color: darken($form-button, 20);
					border: thin solid darken($form-button, 5);
					font-size: 1rem;
					border-radius: 3px;
					&:hover {
						background-color: lighten($form-button, 5);
					}
				}
			}
		}
		.setup-content {
			h3 {
				background-color: $header-bg;
				padding: 20px;
				width: 798px;
				color: #FFF;
				margin-left: 15px;
				margin-top: 0;
				font-size: 1.9rem;
				font-weight: 400;

			}
		}
	}
}

/* ======================================
Smart Wizard
====================================== */
#wizard {
	.stepContainer {
		.content {
			.StepTitle {
				background-color: $header-bg;
				padding: 20px;
				color: #FFF;
				margin-top: 0;
				font-weight: 400;
				margin-bottom: 20px;
			}
		}
	}
}

.btn-custom {
	background-color: $form-button;
	width: 100px;
	padding: 5px;
	color: darken($form-button, 20);
	border: thin solid darken($form-button, 5);
	font-size: 1rem;
	border-radius: 3px;
	&:hover {
		background-color: lighten($form-button, 5);
	}
}

.tac {
	color: darken($form-button, 20);
	font-weight: 200;
	border-bottom: thin dotted $form-button;
	&:hover {
		color: darken($form-button, 30);
		border-color: darken($form-button, 30);;
	}
}

/* ============================================
Plugin Over-ride Styles
============================================ */
.swMain > ul li > a.selected .stepNumber,
.swMain > ul li > a.selected:before, .swMain li > a.done:before {
	border-color: $header-bg;
	border-radius: 0;
}

.wizard-wrapper {
	border: thin solid $header-bg;
}

/* ======================================
Dashboard
====================================== */
.container-fluid {
	.row {
		nav {
			.menu-wrapper {
				width: 85px;
				margin: 0;
				position: fixed;
				top: 70px;
				left: 0px;
				//background-color: darken($header-bg, 50);
				background-color: $header-bg;
				padding: 0;
				ul.menu {
					list-style: none;
					margin: 0;
					padding: 0;
					a {
						color: #FFFFFF;
						li {
							border-bottom: thin solid darken($header-bg, 1);
							padding: 15px;
							color: #FFFFFF;
							&:hover {
								background-color: darken($header-bg, 20);
							}
							i {
								text-align: center;
								display: block;
								margin: 0;
							}
							span {
								text-align: center;
								display: block;
								margin-top: 0;
								font-size: 1.1rem;
							}
						}
						li.active {
							background-color: darken($header-bg, 20);
						}
					}
				}
			}
		}
		.content-wrapper {
			box-shadow: 0 0 3px 1px #EEEEEE;
			padding: 20px 15px;
		}
	}
}

/*===============================================
Widget
===============================================*/
.widget {
	background-color: #FFFFFF;
	border: thin solid darken($header-bg, 10);
	margin-top: 10px;
	.widget-header {
		background-color: $header-bg;
		padding: 3px 10px;
		color: #FFFFFF;
	}
	.widget-body {
		//padding: 3px 10px;
		@extend .cf;
		.sub-title {
			padding-left: 10px;
			background-color: darken($header-bg, 15);
			margin: 0 0 15px 0;
			padding-top: 8px;
			padding-bottom: 8px;
			color: #FFFFFF;
			font-size: 1.3rem;
		}
		.budget-chooser {
			    width: 50%;
			    float: left;
			    padding: 0;
			    margin: 0;

			.budget-chooser-item {
				padding: 8px;
				border-radius: 2px;
				cursor: pointer;
				position: relative;
				border: thin solid #EFEFEF;
				margin-bottom: 10px;
				margin-left: 10px;
				margin-right: 10px;
				img {
					width: 68px;
					display: block;
					margin: 0 auto;
				}
				.widget-info-desc {
					.title {
						display: block;
						margin: 15px auto 5px;
						font-weight: bold;
						font-size: 1.2rem;
						text-transform: uppercase;
					}
					.description {
						font-size: 1.1rem;
					}
					input[type=radio] {
						position: absolute;
						left: 0;
						top: 0;
						visibility: hidden;
					}
				}
			}
			.budget-chooser-item.selected {
				border: 1px solid #428BCA;
				background: lighten($header-bg, 65);
				padding: 8px;
				filter: alpha(opacity=100);
				opacity: 1;
			}
		}
		ul.money_container {
			width: 100%;
			// margin: 0;
			padding: 0;
			@extend .cf;
			li {
				list-style: none;
				float: left;
				width: 32.7%;
				display: block;
				margin-bottom: 10px;
				.money_wrapper {
					// clear: both;
					// margin: 0px;
					// color: #FFFFFF;
					// border: thin solid #EFEFEF;
					// padding: 10px;
					// position: relative;
					&:first-child {
						margin-left: 10px;
					}
					.money_chooser_item {
						width: 100%;
						cursor: pointer;
						clear: both;
						margin: 0px;
						color: #FFFFFF;
						border: thin solid #EFEFEF;
						padding: 7px;
						position: relative;
						input[type=radio] {
						position: absolute;
						top: 0;
						left: 0;
						visibility: hidden;
					}
					.money_image {
						width: 30%;
						display: inline-block;
						img {
							width: 32px;
						}
					}
					.money_content {
						width: 70%;
						display: inline;
						span {
							color: #000000;
							margin-left: 15px;
							line-height: 32px;
							font-size: 16px;
							vertical-align: bottom;
						}
					}
					}
					.money_chooser_item.selected {
						border: 1px solid #428BCA;
						background: lighten($header-bg, 65);
						filter: alpha(opacity=100);
						opacity: 1;
					}
				}
			}
		}
	}
}
/*=============================================
Box
==============================================*/
.box {
	border: thin solid darken($header-bg, 10);
	margin: 0;
	padding: 0;
	.box-header {
		position: relative;
		background-color: $header-bg;
		padding: 1px 10px;
		color: #FFFFFF;
		.link_va { 
			color: #FDFDFD; 
			font-size: 12px;
			&:hover {
				outline: thin solid #FFF;
			}
		}
		.form-btn {
			position: absolute;
			top: 20px;
			right: 10px;
			padding: 5px;
			width: 110px;
		}
	}
	.box-body {
		table {
			color: #333333;
			font-size: .9em;
			font-weight: 300;
			text-align: left;
			line-height: 30px;
			border-collapse: separate;
			border-spacing: 0;
			//border: 2px solid #ED1C40;
			//margin: 50px auto;
			width: 100%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .16);
			border-radius: 2px;
		}

		thead tr:first-child {
			background: darken($header-bg, 10);
			color: #FFFFFF;
			border: none;
		}

		th { font-weight: bold; }
		th:first-child, td:first-child { padding: 0 15px 0 20px; }

		//thead tr:last-child th { border-bottom: 0 solid #DDDDDD; }

		tbody tr:hover { background-color: lighten($header-bg, 67); }
		tbody tr:last-child td { border: none; }
		tbody td { border-bottom: 1px solid #DDDDDD; }

		td:last-child {
			// text-align: right;
			padding-right: 10px;
		}

		.button {
			color: #AAAAAA;
			cursor: pointer;
			vertical-align: middle;
		}
	}
}

/*=============================================
Category
==============================================*/
.cat-wrapper {
	.cat-header {
		h3 {
			font-size: 18px;
		}
	}
	.cat-body {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				border-bottom: thin solid #EDEDED;
				width: 90%;
				> .has-sub {
					display: none;
				}
			}
			li > a {
				display: block;
				padding: 6px 0;
				// padding-left: 30px;
				color: #000;
			}
		}
	}
}

/*=================================================================
	BUTTON
==================================================================*/
.form-btn {
	background-color: #FABA00;
	width: 100px;
	padding: 10px;
	color: #946e00;
	border: thin solid #e1a700;
	font-size: 1.1rem;
	border-radius: 3px;
}

.btn-wrapper {
	margin: 10px 0;
}


/*=================================================================
	MISCELLANEOUS
==================================================================*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

.hidden {
	display: none;
}
